# Ignore all node_modules
node_modules/
client/node_modules/
server/node_modules/

# Ignore build folders
dist/
build/
client/build/
client/dist/

# Ignore environment variables
.env
agentSkills/
.zencoder/
.zenflow/

