--
-- PostgreSQL database dump
--

\restrict aHjORYBf1qd50bYTba9FZmczVe4I4VoO24Y5PxYVBaHDcXNgxtGANyG7gWu2Usc

-- Dumped from database version 17.9
-- Dumped by pg_dump version 17.9

-- Started on 2026-04-28 11:11:36

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- TOC entry 6 (class 2615 OID 17411)
-- Name: drizzle; Type: SCHEMA; Schema: -; Owner: -
--

CREATE SCHEMA drizzle;


--
-- TOC entry 929 (class 1247 OID 17723)
-- Name: allocation_result_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.allocation_result_status AS ENUM (
    'PRELIMINARY',
    'PUBLISHED'
);


--
-- TOC entry 902 (class 1247 OID 17554)
-- Name: application_round_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.application_round_status AS ENUM (
    'DRAFT',
    'OPEN',
    'CLOSED',
    'ARCHIVED'
);


--
-- TOC entry 905 (class 1247 OID 17564)
-- Name: application_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.application_status AS ENUM (
    'DRAFT',
    'SUBMITTED',
    'UNDER_REVIEW',
    'RANKED',
    'ALLOCATED',
    'REJECTED',
    'WITHDRAWN'
);


--
-- TOC entry 923 (class 1247 OID 17691)
-- Name: committee_ranking_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.committee_ranking_status AS ENUM (
    'DRAFT',
    'PRELIMINARY_SUBMITTED',
    'FINAL_SUBMITTED'
);


--
-- TOC entry 935 (class 1247 OID 17760)
-- Name: complaint_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.complaint_status AS ENUM (
    'OPEN',
    'RESOLVED',
    'CLOSED'
);


--
-- TOC entry 914 (class 1247 OID 17633)
-- Name: document_purpose; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.document_purpose AS ENUM (
    'EDUCATIONAL_TITLE',
    'EDUCATIONAL_LEVEL',
    'SERVICE_YEARS',
    'RESPONSIBILITY',
    'FAMILY_STATUS',
    'DISABILITY_CERTIFICATION',
    'HIV_ILLNESS_CERTIFICATION',
    'SPOUSE_PROOF',
    'OTHER'
);


--
-- TOC entry 917 (class 1247 OID 17652)
-- Name: document_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.document_status AS ENUM (
    'UPLOADED',
    'VERIFIED',
    'REJECTED'
);


--
-- TOC entry 881 (class 1247 OID 17460)
-- Name: housing_condition; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.housing_condition AS ENUM (
    'New',
    'Good',
    'Needs Repair',
    'Under Maintenance'
);


--
-- TOC entry 884 (class 1247 OID 17470)
-- Name: housing_status; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.housing_status AS ENUM (
    'Available',
    'Occupied',
    'Reserved'
);


--
-- TOC entry 887 (class 1247 OID 17478)
-- Name: room_type; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.room_type AS ENUM (
    'Studio',
    '1-Bedroom',
    '2-Bedroom',
    '3-Bedroom'
);


--
-- TOC entry 872 (class 1247 OID 17422)
-- Name: user_role; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.user_role AS ENUM (
    'ADMIN',
    'LECTURER',
    'OFFICER',
    'COMMITTEE'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- TOC entry 219 (class 1259 OID 17413)
-- Name: __drizzle_migrations; Type: TABLE; Schema: drizzle; Owner: -
--

CREATE TABLE drizzle.__drizzle_migrations (
    id integer NOT NULL,
    hash text NOT NULL,
    created_at bigint
);


--
-- TOC entry 218 (class 1259 OID 17412)
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE; Schema: drizzle; Owner: -
--

CREATE SEQUENCE drizzle.__drizzle_migrations_id_seq
    AS integer
    START WITH 1
    INCREMENT BY 1
    NO MINVALUE
    NO MAXVALUE
    CACHE 1;


--
-- TOC entry 5239 (class 0 OID 0)
-- Dependencies: 218
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE OWNED BY; Schema: drizzle; Owner: -
--

ALTER SEQUENCE drizzle.__drizzle_migrations_id_seq OWNED BY drizzle.__drizzle_migrations.id;


--
-- TOC entry 239 (class 1259 OID 17930)
-- Name: allocation_overrides; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.allocation_overrides (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    application_id uuid NOT NULL,
    original_room_id uuid,
    new_room_id uuid NOT NULL,
    reason text NOT NULL,
    status character varying(50) DEFAULT 'PENDING'::character varying NOT NULL,
    approved_by uuid,
    approved_at timestamp with time zone,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 230 (class 1259 OID 17727)
-- Name: allocation_results; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.allocation_results (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    round_id uuid NOT NULL,
    application_id uuid NOT NULL,
    housing_unit_id uuid NOT NULL,
    allocated_by_user_id uuid NOT NULL,
    status public.allocation_result_status DEFAULT 'PRELIMINARY'::public.allocation_result_status NOT NULL,
    allocated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 237 (class 1259 OID 17892)
-- Name: announcements; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.announcements (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    type character varying(50) DEFAULT 'INFO'::character varying NOT NULL,
    target_roles text,
    is_active boolean DEFAULT true NOT NULL,
    starts_at timestamp with time zone,
    ends_at timestamp with time zone,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 226 (class 1259 OID 17579)
-- Name: application_rounds; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.application_rounds (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    status public.application_round_status DEFAULT 'DRAFT'::public.application_round_status NOT NULL,
    starts_at timestamp with time zone NOT NULL,
    ends_at timestamp with time zone NOT NULL,
    created_by_user_id uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    committee_ranking_status public.committee_ranking_status DEFAULT 'DRAFT'::public.committee_ranking_status NOT NULL,
    committee_preliminary_submitted_at timestamp with time zone,
    committee_final_submitted_at timestamp with time zone
);


--
-- TOC entry 227 (class 1259 OID 17590)
-- Name: applications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.applications (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    round_id uuid NOT NULL,
    preferred_housing_unit_id uuid,
    score_snapshot_id uuid,
    status public.application_status DEFAULT 'DRAFT'::public.application_status NOT NULL,
    submitted_at timestamp with time zone,
    reviewed_at timestamp with time zone,
    notes text,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    reviewed_by_user_id uuid,
    compliance_issue boolean DEFAULT false NOT NULL,
    compliance_notes text
);


--
-- TOC entry 235 (class 1259 OID 17856)
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.audit_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid,
    action character varying(50) NOT NULL,
    affected_record uuid,
    details text,
    ip_address character varying(45),
    user_agent text,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 234 (class 1259 OID 17839)
-- Name: backup_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.backup_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    key character varying(255) NOT NULL,
    value text NOT NULL,
    description text,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_by uuid
);


--
-- TOC entry 240 (class 1259 OID 17959)
-- Name: backup_logs; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.backup_logs (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    backup_id uuid,
    level character varying(20) NOT NULL,
    message text NOT NULL,
    details text,
    "timestamp" timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 233 (class 1259 OID 17820)
-- Name: backup_schedule; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.backup_schedule (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    frequency character varying(50) NOT NULL,
    tables text[],
    enabled boolean DEFAULT true NOT NULL,
    retention_days integer DEFAULT 30 NOT NULL,
    last_run_at timestamp with time zone,
    next_run_at timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone,
    created_by uuid NOT NULL
);


--
-- TOC entry 229 (class 1259 OID 17697)
-- Name: committee_rank_entries; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.committee_rank_entries (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    round_id uuid NOT NULL,
    application_id uuid NOT NULL,
    rank_position integer NOT NULL,
    updated_by_user_id uuid NOT NULL
);


--
-- TOC entry 231 (class 1259 OID 17767)
-- Name: complaint_messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.complaint_messages (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    thread_id uuid NOT NULL,
    sender_user_id uuid NOT NULL,
    message text NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 232 (class 1259 OID 17776)
-- Name: complaint_threads; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.complaint_threads (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    lecturer_user_id uuid NOT NULL,
    target_department character varying(255) NOT NULL,
    subject character varying(255) NOT NULL,
    status public.complaint_status DEFAULT 'OPEN'::public.complaint_status NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 222 (class 1259 OID 17487)
-- Name: housing_units; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.housing_units (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    building_name character varying(255) NOT NULL,
    block_number character varying(100) NOT NULL,
    room_number character varying(100) NOT NULL,
    room_type public.room_type NOT NULL,
    condition public.housing_condition NOT NULL,
    status public.housing_status DEFAULT 'Available'::public.housing_status NOT NULL,
    location character varying(255) NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 228 (class 1259 OID 17659)
-- Name: lecturer_documents; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lecturer_documents (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    application_id uuid,
    purpose public.document_purpose NOT NULL,
    original_file_name character varying(255) NOT NULL,
    mime_type character varying(120) NOT NULL,
    size_bytes integer NOT NULL,
    storage_path text NOT NULL,
    notes text,
    status public.document_status DEFAULT 'UPLOADED'::public.document_status NOT NULL,
    uploaded_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 223 (class 1259 OID 17499)
-- Name: lecturer_scoring_criteria; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.lecturer_scoring_criteria (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    educational_title character varying(255) NOT NULL,
    educational_level character varying(128) NOT NULL,
    service_years integer DEFAULT 0 NOT NULL,
    responsibility character varying(255) NOT NULL,
    family_status character varying(255) NOT NULL,
    female_bonus_eligible boolean DEFAULT false NOT NULL,
    disability_bonus_eligible boolean DEFAULT false NOT NULL,
    hiv_illness_bonus_eligible boolean DEFAULT false NOT NULL,
    spouse_bonus_eligible boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 220 (class 1259 OID 17431)
-- Name: otp_codes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.otp_codes (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    code character varying(12) NOT NULL,
    expires_at timestamp with time zone NOT NULL,
    attempts integer DEFAULT 0 NOT NULL,
    resend_count integer DEFAULT 0 NOT NULL
);


--
-- TOC entry 224 (class 1259 OID 17514)
-- Name: score_snapshots; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.score_snapshots (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    user_id uuid NOT NULL,
    scoring_policy_id uuid,
    breakdown jsonb NOT NULL,
    base_total double precision NOT NULL,
    bonus_total double precision NOT NULL,
    final_score double precision NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 225 (class 1259 OID 17523)
-- Name: scoring_policies; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.scoring_policies (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    description text,
    version integer DEFAULT 1 NOT NULL,
    effective_from timestamp with time zone,
    created_at timestamp with time zone DEFAULT now() NOT NULL
);


--
-- TOC entry 238 (class 1259 OID 17912)
-- Name: system_backups; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.system_backups (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    filename character varying(255) NOT NULL,
    type character varying(50) NOT NULL,
    size integer NOT NULL,
    status character varying(50) DEFAULT 'creating'::character varying NOT NULL,
    description text,
    created_by uuid NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    completed_at timestamp with time zone,
    tables text[],
    file_path character varying(500),
    checksum character varying(64),
    restored_at timestamp with time zone,
    restored_by uuid
);


--
-- TOC entry 236 (class 1259 OID 17874)
-- Name: system_config; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.system_config (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    key character varying(255) NOT NULL,
    value text NOT NULL,
    description text,
    is_public boolean DEFAULT false NOT NULL,
    updated_at timestamp with time zone DEFAULT now() NOT NULL,
    updated_by uuid
);


--
-- TOC entry 221 (class 1259 OID 17438)
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    id uuid DEFAULT gen_random_uuid() NOT NULL,
    name character varying(255) NOT NULL,
    email character varying(320) NOT NULL,
    password character varying(255),
    role public.user_role NOT NULL,
    is_verified boolean DEFAULT false NOT NULL,
    created_at timestamp with time zone DEFAULT now() NOT NULL,
    department character varying(255),
    is_active boolean DEFAULT true NOT NULL
);


--
-- TOC entry 4860 (class 2604 OID 17416)
-- Name: __drizzle_migrations id; Type: DEFAULT; Schema: drizzle; Owner: -
--

ALTER TABLE ONLY drizzle.__drizzle_migrations ALTER COLUMN id SET DEFAULT nextval('drizzle.__drizzle_migrations_id_seq'::regclass);


--
-- TOC entry 5212 (class 0 OID 17413)
-- Dependencies: 219
-- Data for Name: __drizzle_migrations; Type: TABLE DATA; Schema: drizzle; Owner: -
--



--
-- TOC entry 5232 (class 0 OID 17930)
-- Dependencies: 239
-- Data for Name: allocation_overrides; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.allocation_overrides (id, application_id, original_room_id, new_room_id, reason, status, approved_by, approved_at, created_by, created_at) FROM stdin;
\.


--
-- TOC entry 5223 (class 0 OID 17727)
-- Dependencies: 230
-- Data for Name: allocation_results; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.allocation_results (id, round_id, application_id, housing_unit_id, allocated_by_user_id, status, allocated_at) FROM stdin;
\.


--
-- TOC entry 5230 (class 0 OID 17892)
-- Dependencies: 237
-- Data for Name: announcements; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.announcements (id, title, content, type, target_roles, is_active, starts_at, ends_at, created_by, created_at, updated_at) FROM stdin;
\.


--
-- TOC entry 5219 (class 0 OID 17579)
-- Dependencies: 226
-- Data for Name: application_rounds; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5220 (class 0 OID 17590)
-- Dependencies: 227
-- Data for Name: applications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5228 (class 0 OID 17856)
-- Dependencies: 235
-- Data for Name: audit_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.audit_logs (id, user_id, action, affected_record, details, ip_address, user_agent, "timestamp") FROM stdin;
\.


--
-- TOC entry 5227 (class 0 OID 17839)
-- Dependencies: 234
-- Data for Name: backup_config; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5233 (class 0 OID 17959)
-- Dependencies: 240
-- Data for Name: backup_logs; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.backup_logs (id, backup_id, level, message, details, "timestamp") FROM stdin;
\.


--
-- TOC entry 5226 (class 0 OID 17820)
-- Dependencies: 233
-- Data for Name: backup_schedule; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.backup_schedule (id, name, type, frequency, tables, enabled, retention_days, last_run_at, next_run_at, created_at, updated_at, created_by) FROM stdin;
\.


--
-- TOC entry 5222 (class 0 OID 17697)
-- Dependencies: 229
-- Data for Name: committee_rank_entries; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.committee_rank_entries (id, round_id, application_id, rank_position, updated_by_user_id) FROM stdin;
\.


--
-- TOC entry 5224 (class 0 OID 17767)
-- Dependencies: 231
-- Data for Name: complaint_messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5225 (class 0 OID 17776)
-- Dependencies: 232
-- Data for Name: complaint_threads; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5215 (class 0 OID 17487)
-- Dependencies: 222
-- Data for Name: housing_units; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.housing_units (id, building_name, block_number, room_number, room_type, condition, status, location, created_at, updated_at) FROM stdin;
964b0406-c24f-4729-a56d-7ddf36403af8	maraki	A	1	1-Bedroom	Good	Available	maraki	2026-04-21 21:12:07.710303+03	2026-04-21 21:12:07.710303+03
\.


--
-- TOC entry 5221 (class 0 OID 17659)
-- Dependencies: 228
-- Data for Name: lecturer_documents; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5216 (class 0 OID 17499)
-- Dependencies: 223
-- Data for Name: lecturer_scoring_criteria; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.lecturer_scoring_criteria (id, user_id, educational_title, educational_level, service_years, responsibility, family_status, female_bonus_eligible, disability_bonus_eligible, hiv_illness_bonus_eligible, spouse_bonus_eligible, created_at, updated_at) FROM stdin;
c4a68e21-cca4-444e-8397-55954e82aa2f	a76bc6f8-65bb-4a21-aaef-21c99b637630	ASSOCIATE_PROFESSOR	PHD	0	DEAN	MARRIED_WITHOUT_CHILDREN	t	f	t	f	2026-04-23 00:20:42.695925+03	2026-04-27 23:54:13.149+03
\.


--
-- TOC entry 5213 (class 0 OID 17431)
-- Dependencies: 220
-- Data for Name: otp_codes; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5217 (class 0 OID 17514)
-- Dependencies: 224
-- Data for Name: score_snapshots; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5218 (class 0 OID 17523)
-- Dependencies: 225
-- Data for Name: scoring_policies; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.scoring_policies (id, name, description, version, effective_from, created_at) FROM stdin;
73644ae9-0d62-40a7-98bd-6f6177fee72b	Default Housing Scoring Policy	Standard policy for housing allocation scoring	1	2026-04-23 00:14:13.788728+03	2026-04-23 00:14:13.788728+03
\.


--
-- TOC entry 5231 (class 0 OID 17912)
-- Dependencies: 238
-- Data for Name: system_backups; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5229 (class 0 OID 17874)
-- Dependencies: 236
-- Data for Name: system_config; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.system_config (id, key, value, description, is_public, updated_at, updated_by) FROM stdin;
5c752ab4-580a-4c47-b3ee-729f945b14f3	maintenance_mode	false	System maintenance mode status	f	2026-04-28 10:19:36.03827+03	\N
\.


--
-- TOC entry 5214 (class 0 OID 17438)
-- Dependencies: 221
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- TOC entry 5240 (class 0 OID 0)
-- Dependencies: 218
-- Name: __drizzle_migrations_id_seq; Type: SEQUENCE SET; Schema: drizzle; Owner: -
--

SELECT pg_catalog.setval('drizzle.__drizzle_migrations_id_seq', 12, true);


--
-- TOC entry 4933 (class 2606 OID 17420)
-- Name: __drizzle_migrations __drizzle_migrations_pkey; Type: CONSTRAINT; Schema: drizzle; Owner: -
--

ALTER TABLE ONLY drizzle.__drizzle_migrations
    ADD CONSTRAINT __drizzle_migrations_pkey PRIMARY KEY (id);


--
-- TOC entry 5027 (class 2606 OID 17939)
-- Name: allocation_overrides allocation_overrides_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_overrides
    ADD CONSTRAINT allocation_overrides_pkey PRIMARY KEY (id);


--
-- TOC entry 4980 (class 2606 OID 17734)
-- Name: allocation_results allocation_results_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_results
    ADD CONSTRAINT allocation_results_pkey PRIMARY KEY (id);


--
-- TOC entry 5017 (class 2606 OID 17903)
-- Name: announcements announcements_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_pkey PRIMARY KEY (id);


--
-- TOC entry 4957 (class 2606 OID 17589)
-- Name: application_rounds application_rounds_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_rounds
    ADD CONSTRAINT application_rounds_pkey PRIMARY KEY (id);


--
-- TOC entry 4962 (class 2606 OID 17600)
-- Name: applications applications_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_pkey PRIMARY KEY (id);


--
-- TOC entry 5006 (class 2606 OID 17864)
-- Name: audit_logs audit_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey PRIMARY KEY (id);


--
-- TOC entry 5000 (class 2606 OID 17849)
-- Name: backup_config backup_config_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_config
    ADD CONSTRAINT backup_config_key_key UNIQUE (key);


--
-- TOC entry 5002 (class 2606 OID 17847)
-- Name: backup_config backup_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_config
    ADD CONSTRAINT backup_config_pkey PRIMARY KEY (id);


--
-- TOC entry 5032 (class 2606 OID 17967)
-- Name: backup_logs backup_logs_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_logs
    ADD CONSTRAINT backup_logs_pkey PRIMARY KEY (id);


--
-- TOC entry 4997 (class 2606 OID 17830)
-- Name: backup_schedule backup_schedule_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_schedule
    ADD CONSTRAINT backup_schedule_pkey PRIMARY KEY (id);


--
-- TOC entry 4975 (class 2606 OID 17702)
-- Name: committee_rank_entries committee_rank_entries_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.committee_rank_entries
    ADD CONSTRAINT committee_rank_entries_pkey PRIMARY KEY (id);


--
-- TOC entry 4985 (class 2606 OID 17775)
-- Name: complaint_messages complaint_messages_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaint_messages
    ADD CONSTRAINT complaint_messages_pkey PRIMARY KEY (id);


--
-- TOC entry 4990 (class 2606 OID 17786)
-- Name: complaint_threads complaint_threads_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaint_threads
    ADD CONSTRAINT complaint_threads_pkey PRIMARY KEY (id);


--
-- TOC entry 4944 (class 2606 OID 17497)
-- Name: housing_units housing_units_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.housing_units
    ADD CONSTRAINT housing_units_pkey PRIMARY KEY (id);


--
-- TOC entry 4969 (class 2606 OID 17668)
-- Name: lecturer_documents lecturer_documents_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lecturer_documents
    ADD CONSTRAINT lecturer_documents_pkey PRIMARY KEY (id);


--
-- TOC entry 4946 (class 2606 OID 17513)
-- Name: lecturer_scoring_criteria lecturer_scoring_criteria_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lecturer_scoring_criteria
    ADD CONSTRAINT lecturer_scoring_criteria_pkey PRIMARY KEY (id);


--
-- TOC entry 4936 (class 2606 OID 17437)
-- Name: otp_codes otp_codes_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_pkey PRIMARY KEY (id);


--
-- TOC entry 4951 (class 2606 OID 17522)
-- Name: score_snapshots score_snapshots_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.score_snapshots
    ADD CONSTRAINT score_snapshots_pkey PRIMARY KEY (id);


--
-- TOC entry 4955 (class 2606 OID 17532)
-- Name: scoring_policies scoring_policies_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.scoring_policies
    ADD CONSTRAINT scoring_policies_pkey PRIMARY KEY (id);


--
-- TOC entry 5021 (class 2606 OID 17921)
-- Name: system_backups system_backups_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_backups
    ADD CONSTRAINT system_backups_pkey PRIMARY KEY (id);


--
-- TOC entry 5011 (class 2606 OID 17885)
-- Name: system_config system_config_key_key; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_key_key UNIQUE (key);


--
-- TOC entry 5013 (class 2606 OID 17883)
-- Name: system_config system_config_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_pkey PRIMARY KEY (id);


--
-- TOC entry 4940 (class 2606 OID 17447)
-- Name: users users_pkey; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT users_pkey PRIMARY KEY (id);


--
-- TOC entry 5024 (class 1259 OID 17950)
-- Name: allocation_overrides_application_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX allocation_overrides_application_id_idx ON public.allocation_overrides USING btree (application_id);


--
-- TOC entry 5025 (class 1259 OID 17952)
-- Name: allocation_overrides_created_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX allocation_overrides_created_by_idx ON public.allocation_overrides USING btree (created_by);


--
-- TOC entry 5028 (class 1259 OID 17951)
-- Name: allocation_overrides_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX allocation_overrides_status_idx ON public.allocation_overrides USING btree (status);


--
-- TOC entry 4978 (class 1259 OID 17758)
-- Name: allocation_results_housing_unit_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX allocation_results_housing_unit_idx ON public.allocation_results USING btree (housing_unit_id);


--
-- TOC entry 4981 (class 1259 OID 17755)
-- Name: allocation_results_round_application_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX allocation_results_round_application_unique ON public.allocation_results USING btree (round_id, application_id);


--
-- TOC entry 4982 (class 1259 OID 17756)
-- Name: allocation_results_round_housing_unit_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX allocation_results_round_housing_unit_unique ON public.allocation_results USING btree (round_id, housing_unit_id);


--
-- TOC entry 4983 (class 1259 OID 17757)
-- Name: allocation_results_round_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX allocation_results_round_idx ON public.allocation_results USING btree (round_id);


--
-- TOC entry 5014 (class 1259 OID 17911)
-- Name: announcements_created_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX announcements_created_by_idx ON public.announcements USING btree (created_by);


--
-- TOC entry 5015 (class 1259 OID 17909)
-- Name: announcements_is_active_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX announcements_is_active_idx ON public.announcements USING btree (is_active);


--
-- TOC entry 5018 (class 1259 OID 17910)
-- Name: announcements_type_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX announcements_type_idx ON public.announcements USING btree (type);


--
-- TOC entry 4958 (class 1259 OID 17626)
-- Name: application_rounds_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX application_rounds_status_idx ON public.application_rounds USING btree (status);


--
-- TOC entry 4959 (class 1259 OID 17627)
-- Name: application_rounds_window_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX application_rounds_window_idx ON public.application_rounds USING btree (starts_at, ends_at);


--
-- TOC entry 4960 (class 1259 OID 17689)
-- Name: applications_compliance_issue_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX applications_compliance_issue_idx ON public.applications USING btree (compliance_issue);


--
-- TOC entry 4963 (class 1259 OID 17629)
-- Name: applications_round_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX applications_round_id_idx ON public.applications USING btree (round_id);


--
-- TOC entry 4964 (class 1259 OID 17631)
-- Name: applications_round_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX applications_round_status_idx ON public.applications USING btree (round_id, status);


--
-- TOC entry 4965 (class 1259 OID 17630)
-- Name: applications_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX applications_status_idx ON public.applications USING btree (status);


--
-- TOC entry 4966 (class 1259 OID 17628)
-- Name: applications_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX applications_user_id_idx ON public.applications USING btree (user_id);


--
-- TOC entry 5003 (class 1259 OID 17871)
-- Name: audit_logs_action_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_action_idx ON public.audit_logs USING btree (action);


--
-- TOC entry 5004 (class 1259 OID 17873)
-- Name: audit_logs_affected_record_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_affected_record_idx ON public.audit_logs USING btree (affected_record);


--
-- TOC entry 5007 (class 1259 OID 17872)
-- Name: audit_logs_timestamp_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_timestamp_idx ON public.audit_logs USING btree ("timestamp");


--
-- TOC entry 5008 (class 1259 OID 17870)
-- Name: audit_logs_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX audit_logs_user_id_idx ON public.audit_logs USING btree (user_id);


--
-- TOC entry 4998 (class 1259 OID 17855)
-- Name: backup_config_key_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_config_key_idx ON public.backup_config USING btree (key);


--
-- TOC entry 5029 (class 1259 OID 17973)
-- Name: backup_logs_backup_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_logs_backup_id_idx ON public.backup_logs USING btree (backup_id);


--
-- TOC entry 5030 (class 1259 OID 17974)
-- Name: backup_logs_level_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_logs_level_idx ON public.backup_logs USING btree (level);


--
-- TOC entry 5033 (class 1259 OID 17975)
-- Name: backup_logs_timestamp_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_logs_timestamp_idx ON public.backup_logs USING btree ("timestamp");


--
-- TOC entry 4993 (class 1259 OID 17836)
-- Name: backup_schedule_enabled_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_schedule_enabled_idx ON public.backup_schedule USING btree (enabled);


--
-- TOC entry 4994 (class 1259 OID 17837)
-- Name: backup_schedule_frequency_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_schedule_frequency_idx ON public.backup_schedule USING btree (frequency);


--
-- TOC entry 4995 (class 1259 OID 17838)
-- Name: backup_schedule_next_run_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX backup_schedule_next_run_at_idx ON public.backup_schedule USING btree (next_run_at);


--
-- TOC entry 4973 (class 1259 OID 17719)
-- Name: committee_rank_entries_application_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX committee_rank_entries_application_id_unique ON public.committee_rank_entries USING btree (application_id);


--
-- TOC entry 4976 (class 1259 OID 17721)
-- Name: committee_rank_entries_round_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX committee_rank_entries_round_id_idx ON public.committee_rank_entries USING btree (round_id);


--
-- TOC entry 4977 (class 1259 OID 17720)
-- Name: committee_rank_entries_round_rank_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX committee_rank_entries_round_rank_unique ON public.committee_rank_entries USING btree (round_id, rank_position);


--
-- TOC entry 4986 (class 1259 OID 17803)
-- Name: complaint_messages_sender_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX complaint_messages_sender_user_id_idx ON public.complaint_messages USING btree (sender_user_id);


--
-- TOC entry 4987 (class 1259 OID 17802)
-- Name: complaint_messages_thread_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX complaint_messages_thread_id_idx ON public.complaint_messages USING btree (thread_id);


--
-- TOC entry 4988 (class 1259 OID 17804)
-- Name: complaint_threads_lecturer_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX complaint_threads_lecturer_user_id_idx ON public.complaint_threads USING btree (lecturer_user_id);


--
-- TOC entry 4991 (class 1259 OID 17806)
-- Name: complaint_threads_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX complaint_threads_status_idx ON public.complaint_threads USING btree (status);


--
-- TOC entry 4992 (class 1259 OID 17805)
-- Name: complaint_threads_target_department_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX complaint_threads_target_department_idx ON public.complaint_threads USING btree (target_department);


--
-- TOC entry 4942 (class 1259 OID 17498)
-- Name: housing_units_block_room_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX housing_units_block_room_unique ON public.housing_units USING btree (block_number, room_number);


--
-- TOC entry 4967 (class 1259 OID 17680)
-- Name: lecturer_documents_application_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX lecturer_documents_application_id_idx ON public.lecturer_documents USING btree (application_id);


--
-- TOC entry 4970 (class 1259 OID 17681)
-- Name: lecturer_documents_purpose_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX lecturer_documents_purpose_idx ON public.lecturer_documents USING btree (purpose);


--
-- TOC entry 4971 (class 1259 OID 17682)
-- Name: lecturer_documents_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX lecturer_documents_status_idx ON public.lecturer_documents USING btree (status);


--
-- TOC entry 4972 (class 1259 OID 17679)
-- Name: lecturer_documents_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX lecturer_documents_user_id_idx ON public.lecturer_documents USING btree (user_id);


--
-- TOC entry 4947 (class 1259 OID 17549)
-- Name: lecturer_scoring_criteria_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX lecturer_scoring_criteria_user_id_idx ON public.lecturer_scoring_criteria USING btree (user_id);


--
-- TOC entry 4948 (class 1259 OID 17548)
-- Name: lecturer_scoring_criteria_user_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX lecturer_scoring_criteria_user_id_unique ON public.lecturer_scoring_criteria USING btree (user_id);


--
-- TOC entry 4934 (class 1259 OID 17454)
-- Name: otp_codes_expires_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX otp_codes_expires_at_idx ON public.otp_codes USING btree (expires_at);


--
-- TOC entry 4937 (class 1259 OID 17458)
-- Name: otp_codes_user_id_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX otp_codes_user_id_unique ON public.otp_codes USING btree (user_id);


--
-- TOC entry 4949 (class 1259 OID 17551)
-- Name: score_snapshots_created_at_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX score_snapshots_created_at_idx ON public.score_snapshots USING btree (created_at);


--
-- TOC entry 4952 (class 1259 OID 17550)
-- Name: score_snapshots_user_id_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX score_snapshots_user_id_idx ON public.score_snapshots USING btree (user_id);


--
-- TOC entry 4953 (class 1259 OID 17552)
-- Name: scoring_policies_effective_from_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX scoring_policies_effective_from_idx ON public.scoring_policies USING btree (effective_from);


--
-- TOC entry 5019 (class 1259 OID 17929)
-- Name: system_backups_created_by_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX system_backups_created_by_idx ON public.system_backups USING btree (created_by);


--
-- TOC entry 5022 (class 1259 OID 17927)
-- Name: system_backups_status_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX system_backups_status_idx ON public.system_backups USING btree (status);


--
-- TOC entry 5023 (class 1259 OID 17928)
-- Name: system_backups_type_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX system_backups_type_idx ON public.system_backups USING btree (type);


--
-- TOC entry 5009 (class 1259 OID 17891)
-- Name: system_config_key_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX system_config_key_idx ON public.system_config USING btree (key);


--
-- TOC entry 4938 (class 1259 OID 17455)
-- Name: users_email_unique; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX users_email_unique ON public.users USING btree (email);


--
-- TOC entry 4941 (class 1259 OID 17456)
-- Name: users_role_idx; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX users_role_idx ON public.users USING btree (role);


--
-- TOC entry 5063 (class 2606 OID 17940)
-- Name: allocation_overrides allocation_overrides_approved_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_overrides
    ADD CONSTRAINT allocation_overrides_approved_by_fkey FOREIGN KEY (approved_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- TOC entry 5064 (class 2606 OID 17945)
-- Name: allocation_overrides allocation_overrides_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_overrides
    ADD CONSTRAINT allocation_overrides_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5049 (class 2606 OID 17750)
-- Name: allocation_results allocation_results_allocated_by_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_results
    ADD CONSTRAINT allocation_results_allocated_by_user_id_users_id_fk FOREIGN KEY (allocated_by_user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- TOC entry 5050 (class 2606 OID 17740)
-- Name: allocation_results allocation_results_application_id_applications_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_results
    ADD CONSTRAINT allocation_results_application_id_applications_id_fk FOREIGN KEY (application_id) REFERENCES public.applications(id) ON DELETE CASCADE;


--
-- TOC entry 5051 (class 2606 OID 17745)
-- Name: allocation_results allocation_results_housing_unit_id_housing_units_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_results
    ADD CONSTRAINT allocation_results_housing_unit_id_housing_units_id_fk FOREIGN KEY (housing_unit_id) REFERENCES public.housing_units(id) ON DELETE RESTRICT;


--
-- TOC entry 5052 (class 2606 OID 17735)
-- Name: allocation_results allocation_results_round_id_application_rounds_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.allocation_results
    ADD CONSTRAINT allocation_results_round_id_application_rounds_id_fk FOREIGN KEY (round_id) REFERENCES public.application_rounds(id) ON DELETE CASCADE;


--
-- TOC entry 5060 (class 2606 OID 17904)
-- Name: announcements announcements_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.announcements
    ADD CONSTRAINT announcements_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5038 (class 2606 OID 17601)
-- Name: application_rounds application_rounds_created_by_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.application_rounds
    ADD CONSTRAINT application_rounds_created_by_user_id_users_id_fk FOREIGN KEY (created_by_user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- TOC entry 5039 (class 2606 OID 17616)
-- Name: applications applications_preferred_housing_unit_id_housing_units_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_preferred_housing_unit_id_housing_units_id_fk FOREIGN KEY (preferred_housing_unit_id) REFERENCES public.housing_units(id) ON DELETE SET NULL;


--
-- TOC entry 5040 (class 2606 OID 17684)
-- Name: applications applications_reviewed_by_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_reviewed_by_user_id_users_id_fk FOREIGN KEY (reviewed_by_user_id) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- TOC entry 5041 (class 2606 OID 17611)
-- Name: applications applications_round_id_application_rounds_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_round_id_application_rounds_id_fk FOREIGN KEY (round_id) REFERENCES public.application_rounds(id) ON DELETE CASCADE;


--
-- TOC entry 5042 (class 2606 OID 17621)
-- Name: applications applications_score_snapshot_id_score_snapshots_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_score_snapshot_id_score_snapshots_id_fk FOREIGN KEY (score_snapshot_id) REFERENCES public.score_snapshots(id) ON DELETE SET NULL;


--
-- TOC entry 5043 (class 2606 OID 17606)
-- Name: applications applications_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.applications
    ADD CONSTRAINT applications_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5058 (class 2606 OID 17865)
-- Name: audit_logs audit_logs_user_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_user_id_fkey FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5057 (class 2606 OID 17850)
-- Name: backup_config backup_config_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_config
    ADD CONSTRAINT backup_config_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- TOC entry 5065 (class 2606 OID 17968)
-- Name: backup_logs backup_logs_backup_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_logs
    ADD CONSTRAINT backup_logs_backup_id_fkey FOREIGN KEY (backup_id) REFERENCES public.system_backups(id) ON DELETE CASCADE;


--
-- TOC entry 5056 (class 2606 OID 17831)
-- Name: backup_schedule backup_schedule_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.backup_schedule
    ADD CONSTRAINT backup_schedule_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5046 (class 2606 OID 17709)
-- Name: committee_rank_entries committee_rank_entries_application_id_applications_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.committee_rank_entries
    ADD CONSTRAINT committee_rank_entries_application_id_applications_id_fk FOREIGN KEY (application_id) REFERENCES public.applications(id) ON DELETE CASCADE;


--
-- TOC entry 5047 (class 2606 OID 17704)
-- Name: committee_rank_entries committee_rank_entries_round_id_application_rounds_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.committee_rank_entries
    ADD CONSTRAINT committee_rank_entries_round_id_application_rounds_id_fk FOREIGN KEY (round_id) REFERENCES public.application_rounds(id) ON DELETE CASCADE;


--
-- TOC entry 5048 (class 2606 OID 17714)
-- Name: committee_rank_entries committee_rank_entries_updated_by_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.committee_rank_entries
    ADD CONSTRAINT committee_rank_entries_updated_by_user_id_users_id_fk FOREIGN KEY (updated_by_user_id) REFERENCES public.users(id) ON DELETE RESTRICT;


--
-- TOC entry 5053 (class 2606 OID 17792)
-- Name: complaint_messages complaint_messages_sender_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaint_messages
    ADD CONSTRAINT complaint_messages_sender_user_id_users_id_fk FOREIGN KEY (sender_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5054 (class 2606 OID 17787)
-- Name: complaint_messages complaint_messages_thread_id_complaint_threads_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaint_messages
    ADD CONSTRAINT complaint_messages_thread_id_complaint_threads_id_fk FOREIGN KEY (thread_id) REFERENCES public.complaint_threads(id) ON DELETE CASCADE;


--
-- TOC entry 5055 (class 2606 OID 17797)
-- Name: complaint_threads complaint_threads_lecturer_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.complaint_threads
    ADD CONSTRAINT complaint_threads_lecturer_user_id_users_id_fk FOREIGN KEY (lecturer_user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5044 (class 2606 OID 17674)
-- Name: lecturer_documents lecturer_documents_application_id_applications_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lecturer_documents
    ADD CONSTRAINT lecturer_documents_application_id_applications_id_fk FOREIGN KEY (application_id) REFERENCES public.applications(id) ON DELETE SET NULL;


--
-- TOC entry 5045 (class 2606 OID 17669)
-- Name: lecturer_documents lecturer_documents_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lecturer_documents
    ADD CONSTRAINT lecturer_documents_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5035 (class 2606 OID 17533)
-- Name: lecturer_scoring_criteria lecturer_scoring_criteria_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.lecturer_scoring_criteria
    ADD CONSTRAINT lecturer_scoring_criteria_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5034 (class 2606 OID 17448)
-- Name: otp_codes otp_codes_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.otp_codes
    ADD CONSTRAINT otp_codes_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5036 (class 2606 OID 17543)
-- Name: score_snapshots score_snapshots_scoring_policy_id_scoring_policies_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.score_snapshots
    ADD CONSTRAINT score_snapshots_scoring_policy_id_scoring_policies_id_fk FOREIGN KEY (scoring_policy_id) REFERENCES public.scoring_policies(id) ON DELETE SET NULL;


--
-- TOC entry 5037 (class 2606 OID 17538)
-- Name: score_snapshots score_snapshots_user_id_users_id_fk; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.score_snapshots
    ADD CONSTRAINT score_snapshots_user_id_users_id_fk FOREIGN KEY (user_id) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5061 (class 2606 OID 17922)
-- Name: system_backups system_backups_created_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_backups
    ADD CONSTRAINT system_backups_created_by_fkey FOREIGN KEY (created_by) REFERENCES public.users(id) ON DELETE CASCADE;


--
-- TOC entry 5062 (class 2606 OID 17953)
-- Name: system_backups system_backups_restored_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_backups
    ADD CONSTRAINT system_backups_restored_by_fkey FOREIGN KEY (restored_by) REFERENCES public.users(id) ON DELETE SET NULL;


--
-- TOC entry 5059 (class 2606 OID 17886)
-- Name: system_config system_config_updated_by_fkey; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.system_config
    ADD CONSTRAINT system_config_updated_by_fkey FOREIGN KEY (updated_by) REFERENCES public.users(id) ON DELETE SET NULL;


-- Completed on 2026-04-28 11:11:38

--
-- PostgreSQL database dump complete
--

\unrestrict aHjORYBf1qd50bYTba9FZmczVe4I4VoO24Y5PxYVBaHDcXNgxtGANyG7gWu2Usc

